@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&family=Oswald:wght@400;500;700&display=swap');
html{
    box-sizing: border-box;
}
*,*::before, *::after {
    box-sizing: inherit;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background: url(../img/bg.png);
    background-repeat: no-repeat;
}
.container{
    width: 1440px;
    margin: 0 auto;
    padding: 0 250px;
}
/* Раздел "Header_menu"*/
.header_menu {
    text-align: center;
    width: 1440px;
    height: 769px;
}
.logo {
    width: 101.618px;
    height: 23px;
    margin-top: 41px;
    margin-bottom: 317px;
}
.story_title_1 {
    color: #FFF;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 5.709px;
    margin: 0;
}
.header_text {
    color: #FFF;
    text-align: center;
    font-family: OpenSans;
    font-size: 16px;
    margin: 0;
}
.scroll_down {
    margin-top: 200px;
    color: #FFF;
    text-align: center;
    font-family: OpenSans;
    font-size: 11px;
    letter-spacing: 3.7px;
}
/*Раздел "Header"*/
.burger{
    display:none;
}
.main{
    width: 100%;
}
/*   первая страница   */
.header{
    max-width: 1920px;
    min-height: 100px;
    padding-left:100px;
    padding-right: 100px;
}
.container{
    max-width: 1105px;
    margin: 0 auto;
}
.header-box{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 42px;
    letter-spacing: 1.091px;
    text-transform: uppercase;
    font-family: OpenSans, sans-serif;
    cursor: pointer;
}
.header-menu__href{
    text-decoration: none;
    outline: none;
    color: #48555B;
}
.header-menu__href:hover{
    color: #00A4E5;
}
hr {
    max-width: 1440px;
    border: none;
    border-top: 1px solid #E6E6E6;
    background: #FFF;
}
/* Раздел "Our story"*/
.story {
    padding: 50px 0;
}
.story_left {
    max-width: 398px;
    margin-right: 100px;
}
.story_title_2 {
    color: #48555b;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    line-height: normal;
    letter-spacing: 2.306px;
}
.story_title_2:after {
    content: '';
    width: 50px;
    height: 2px;
    background-color: #00A4E5;
    display: block;
    margin: 10px auto 0;
}
.story_inner {
    display: flex;
    justify-content: center;
}
.story_title_3 {
    color: #48555b;
    font-weight: bold;
    font-size: 20px;
}
.accent-color {
    color: #00A4E5;
}
.story_right {
    align-items: flex-end;
    display: flex;
}
.story_item {
    padding: 15px;
    font-size: 24px;
    color: #fff;
    font-weight: 800;
    text-transform: uppercase;
    width: 140px;
    height: 224px;
    margin-right: 20px;
}
.story_item:nth-child(1){
    background-image: url(../img/We_plan.png);
}
.story_item:nth-child(2){
    background-image: url(../img/We_manage.png);
}
.story_item:nth-child(3){
    background-image: url(../img/We_build.png);
    margin-right: 0;
}
.services {
padding: 50px;
}
.services_title_3 {
color: #48555B;
text-transform: uppercase;
font-size: 18px;
font-weight: bold;
line-height: normal;
letter-spacing: 2.306px;
}
.services_title_3:after {
content: '';
width: 50px;
height: 2px;
background-color: #00A4E5;
display: block;
margin-top: 10px;
}
.info_services{
margin-left: 20px;
display: flex;
}
.services_text {
display: flex;
width: 405.404px;
height: 38px;
margin-left: 155px;
margin-right: 50px;
color: #48555B;
font-size: 11px;
font-weight: 400;
line-height: 19px; /* 172.727% */
letter-spacing: 0.2px;
}
.btn {
width: 150px;
height: 40px;
background-color: #00A4E5;
border: none;
color: #fff;
}
.services_inner {
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 28px;
margin-top: 78px;
margin-left: 14px;
}
.services_project {
width: 295px;
height: 330px;
border: 1px solid #E6E6E6;
background: #FFF;
}
.img_1{
margin-top: 38px;
margin-left: 23px;
}
.services_title_4 {
display: flex;
width: 250px;
height: 48px;
flex-direction: column;
justify-content: center;
color: #48555B;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 150% */
letter-spacing: 0.427px;
margin-left: 23px;
}
.services_text_1 {
display: flex;
width: 250px;
height: 92px;
flex-direction: column;
justify-content: center;
color: #48555B;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 23px; /* 176.923% */
letter-spacing: 0.188px;
margin-left: 23px;
}
.services_structure {
width: 295px;
height: 330px;
border: 1px solid #E6E6E6;
background: #FFF;
}
.services_factory {
width: 295px;
height: 330px;
border: 1px solid #E6E6E6;
background: #FFF;
}
.get-in-touch {
height: 499px;
background-image: url(../img/bg-2.png);
background-repeat: no-repeat;
background-size: cover;
}
.build {
text-align: center;
display: block;
margin: 0 auto;
}
.get-in-touch_title_1 {
display: flex;
width: 350px;
flex-direction: column;
height: 72px;
margin-bottom: 5px;
margin-top: 115px;
margin-left: 330px;
font-weight: bold;
font-family: 'Open Sans', sans-serif;
color: #48555B;
font-size: 30px;
line-height: 36px; /* 120% */
letter-spacing: 0.15px;
}
.btn {
margin-top: 35px;
width: 150px;
height: 40px;
}
.email {
display: flex;
align-items: center;
width: 1440px;
height: 100px;
background: #171819;
margin-top: -1px;
}
.email-signup {
margin-left: 100px;
display: flex;
justify-content: center;
width: 685px;
height: 40px;
align-items: center;
}
.email-signup_title {
margin: 0 auto;
color: #FFF;
font-size: 22px;
font-weight: bold;
letter-spacing: 0.846px;
}
.email-signup_form {
display: flex;
}
.email-signup-form__email {
padding: 5px;
margin-right: -4px;
width: 250px;
height: 40px;
border: 1px solid #979797;
background: #FFF;
}
.email-signup-form__button {
width: 150px;
height: 40px;
border: none;
background: #00A4E5;
color: #FFF;
font-size: 13px;
font-weight: bold;
letter-spacing: 0.5px;
}
.footer {
width: 1440px;
height: 240px;
background: #141A20;
}
.footer-box {
color: #fff;
display: flex;
}
.footer-box__info {
    margin-top: 42px;
width: 250px;
height: 178px;
margin-right: 72px;
}
.footer-box__info-company_text {
width: 59px;
height: 15px;
margin-bottom: 19px;
color: #FFF;
font-size: 11px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.846px;
}
.img_log {
width: 101.618px;
height: 23px;
}
.footer-box__info-text {
display: flex;
width: 250px;
height: 76px;
flex-direction: column;
justify-content: center;
color: #FFF;
font-size: 11px;
font-style: normal;
font-weight: 400;
line-height: 19px; /* 172.727% */
letter-spacing: 0.85px;
}
.footer-box__links_1 {
margin-top: 42px;
display: flex;
flex-direction: column;
white-space: nowrap;
margin-right: 34px;
}
.footer-box__links_2 {
margin-top: 42px;
display: flex;
flex-direction: column;
margin-right: 38px;
}
.footer-box__links_3 {
margin-top: 42px;
display: flex;
flex-direction: column;
margin-right: 58px;
}
.footer-box__links_title {
color: #FFF;
font-size: 11px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.846px;
}
.links {
color: #FFF;
font-size: 11px;
font-style: normal;
font-weight: 600;
line-height: 25px; /* 227.273% */
letter-spacing: 0.846px;
text-decoration: none;
}
.footer-box__links_title_1 {
margin-top: 15px;
margin-bottom: 35px;
}
.adress {
display: flex;
width: 141px;
height: 128px;
flex-direction: column;
justify-content: center;
}
.footer-box__social {
display: flex;
flex-direction: column;
}
.footer-box__social-img {
display: flex;
flex-direction: row;
margin-left: 40px;
margin-top: 42px;
width: 87px;
height: 23px;
}
.inc {
margin-top: -12px;
width: 1440px;
height: 60px;
background: #171819;
}
.konst_inc_text {
color: #FFF;
font-size: 11px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.846px;
margin-left: 371px;
padding-top: 21px;
}
@media screen and (max-width: 1440px){
    .container{
        padding: 0 50px;
    }
}
@media screen and (max-width: 1024px){
    .container{
        padding: 0 15px;
    }
    .story_inner{
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 500px){
    .story_right{
        flex-wrap: wrap;
    }
    .story_item{
        margin-bottom: 20px;
    }
    .story_item:nth-child(3){
        margin-bottom: 0px;
}
}